section,
main {
  display: flex;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;

  > img {
    width: max-width;
    height: max-height;
  }
}

button {
  margin: 2rem 1rem 2rem 0;
}
h1,
h3 {
  color: #fff;
  text-align: center;
}
.ball {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: absolute;
  border: 1px solid black;
}
