<!--
  height - altura
  width -largura
  trigger - um observable que captura a imagem
  imageCapture - um listener que ouve a trigger sempre que a imagem é capturada
  showWebcam - se o usuario me deu acesso a camera dele
  cameraSwitch - deviceId do dispositivo
  initError - Aplica um erro caso o usuário não me deu acesso a câmera
-->
<section>
  <webcam
    [height]="500"
    [width]="500"
    [trigger]="observableCamera"
    (imageCapture)="handleImage($event)"
    *ngIf="showWebcam"
    [allowCameraSwitch]="allowCameraSwitch"
    [switchCamera]="nextWebcamObservable"
    [videoOptions]="videoOptions"
    (cameraSwitched)="cameraHasSwitch($event)"
    (initError)="handleInitError($event)"
    (imageClick)="handleImageClick()"
  >
  </webcam>
  <div class="ball"></div>
</section>

<!-- Id do dispositivo -->
<h3 *ngIf="webcamImage && showWebcam">Device ID: {{ deviceId }}</h3>
<h3>
  {{ isPhone }}
</h3>

<section>
  <!-- Tirar foto -->
  <button
    mat-raised-button
    *ngIf="errors.length == 0 && showWebcam && nowAllowPermission === ''"
    (click)="takeSnapshot()"
    [color]="takeSnapshotButtonColor"
  >
    Take Snapshot
  </button>

  <!-- Mostrar ou desabilitar sua câmera-->
  <button
    mat-raised-button
    (click)="toggleWebcam()"
    [color]="noShowCamButtonColor"
    *ngIf="errors.length === 0 && nowAllowPermission === 'Permission Denied'"
  >
    <span *ngIf="showWebcam; else noShowWebcam">Hide camera</span>
    <ng-template #noShowWebcam>Enable camera</ng-template>
  </button>
</section>

<!-- Mostrar foto tirada -->
<h1 *ngIf="webcamImage && showWebcam">Última foto retirada:</h1>
<main *ngIf="webcamImage && showWebcam">
  <img [src]="webcamImage.imageAsDataUrl" alt="Sua foto" />
</main>

<!-- <input type="text" [(ngModel)]="imageUrl" aria-label="Link" />
<button (click)="getPersonAge(imageUrl)">Clicar</button>

{{ personAge | json }} -->
